# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# =========================
# Database
# =========================
data/
*.db
*.sqlite
*.sqlite3

# =========================
# Environment Variables
# =========================
.env
.env.local

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db